# OpenAI secrets
OPENAI_API_KEY = "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"

# Astra DB secrets
ASTRA_API_ENDPOINT = "https://0183e308-0a47-462c-b270-dda7d8d67d37-us-east-1.apps.astra.datastax.com"
ASTRA_TOKEN = "AstraCS:JaiOymNGbygUgkfpXbshoWMa:9f25670f7aa9c87e8307efb9c1b357675553897210d9617ab074bc6abce55591"